patient-access-api/src/main/mule/document-reference.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="edba3c55-7333-401e-a82a-429a8e007c82" >
		<http:request-connection host="hapi.fhir.org" protocol="HTTPS" connectionIdleTimeout="120000"/>
	</http:request-config>
	<flow name="document-referenceFlow" doc:id="0b4c7cdb-5322-4e5a-8afe-c686ad3e4bfd" >
		<http:listener doc:name="Listener" doc:id="5c72bf89-fa6a-479d-a9cb-52b3da653b87" config-ref="HTTP_Listener_config" path="/documentReference"/>
		<set-variable value='#[[&#10;  {&#10;    "code": "28570-0",&#10;    "display": "Procedure note"&#10;  },&#10;  {&#10;    "code": "11506-3",&#10;    "display": "Progress note"&#10;  },&#10;  {&#10;    "code": "57133-1",&#10;    "display": "Referral note"&#10;  },&#10;  {&#10;    "code": "11504-8",&#10;    "display": "Surgical operation note"&#10;  },&#10;  {&#10;    "code": "34746-8",&#10;    "display": "Nurse Note"&#10;  },&#10;  {&#10;    "code": "11488-4",&#10;    "display": "Consultation note"&#10;  },&#10;  {&#10;    "code": "18842-5",&#10;    "display": "Discharge summary"&#10;  },&#10;  {&#10;    "code": "34117-2",&#10;    "display": "History and physical note"&#10;  }&#10;]]' doc:name="Set Variable" doc:id="c26fe53e-b91a-49dc-8bac-8b3d09b6a388" variableName="clinicalNotes"/>
		<set-variable value="#[message.attributes.queryParams.patient]" doc:name="Set Variable" doc:id="cd8de039-2096-4d77-b6c2-8378d5d7d4f2" variableName="id"/>
		<parallel-foreach doc:name="Parallel For Each" doc:id="cae6d10f-c088-4593-80ed-0648f0fb69be" collection="#[vars.clinicalNotes]">
			<set-variable value="#[payload.display]" doc:name="Set Variable" doc:id="5c309b4a-f656-4530-8256-4745825f3afc" variableName="display"/>
			<try doc:name="Try" doc:id="7d17b194-03be-477a-a061-15f921d4af73" >
				<http:request method="GET" doc:name="FHIR-Document Reference " doc:id="8447c66e-3552-4f45-bce6-6d00fcdab148" config-ref="HTTP_Request_configuration" path="/baseR4/DocumentReference" target="result">
				<http:query-params><![CDATA[#[output application/java
---
{
	"patient" : vars.id,
	"type": payload.code
}]]]></http:query-params>
			</http:request>
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="dee92ec9-1b3c-4bae-94c6-2bddf12d726a" type="ANY">
						<logger level="INFO" doc:name="Logger" doc:id="7f2f0702-5c9e-44e4-a85c-4e1add4e6ae0" message="ffailed will calling for #[vars.display]"/>
					</on-error-continue>
				</error-handler>
			</try>
			<flow-ref doc:name="Pagination for Document Reference" doc:id="fbda4a30-c499-4155-a6f5-7fa23708f974" name="Pagination-of-Resources-4" target="documentReference"/>
			<choice doc:name="Choice" doc:id="90f9d850-06df-428e-8e8b-87d9bfb9f1ae" >
				<when expression="#[!isEmpty(flatten(vars.documentReference.*entry).resource)]">
					<parallel-foreach doc:name="Parallel For Each" doc:id="824dd1c9-c2e2-4133-9adf-6a9092697d00" collection="#[flatten(vars.documentReference.*entry).resource.content..data]">
						<ee:transform doc:name="Decoding data" doc:id="4f88487c-6cd6-480c-a8c8-93f650c83f27" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import * from dw::core::Binaries
---
write(fromBase64(payload),"text/plain")]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</parallel-foreach>
					<ee:transform doc:name="" doc:id="b0def12e-1e5c-46b0-8a76-7160b743a9dc" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
import prependIfMissing from dw::core::Strings
output application/json
---
prependIfMissing(flatten(payload..payload) joinBy  "\n-----\n",vars.display)
]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<logger level="INFO" doc:name="Logger" doc:id="cc463534-0d5c-4321-a85a-4f69f5a2a92f" message="#[payload]"/>
				</when>
				<otherwise >
					<logger level="INFO" doc:name="Logger" doc:id="07e47cdf-cde6-4ea7-b2e1-ff85a2999392" message="No data for #[vars.display]"/>
					<set-payload value="#[[null]]" doc:name="Set Payload" doc:id="0d0bf729-3de0-45c0-bdd6-9b30f01fe599" />
				</otherwise>
			</choice>
			<logger level="INFO" doc:name="Logger" doc:id="cd84c2eb-b407-414a-a997-51322b61cbcf" message="#[payload]"/>
		</parallel-foreach>
		<ee:transform doc:name="Transform Message" doc:id="10faf7f1-1ca6-49f4-ae4e-d2321d278577" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1f6c2ae1-b824-4a18-b672-82f844337d22" message="#[payload]"/>
	</flow>
</mule>
